/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
.jp-litchi-toolbar {
    min-height: 20px;
    background-color: lightsalmon;
}

.jp-litchi-role-user-Cell .jp-InputPrompt {
    background-color: lightcyan;
}

.jp-litchi-role-assistant-Cell .jp-InputPrompt {
    background-color: lightgoldenrodyellow;
}